.our-partners {
  margin: 0;
  width: 283px;
  position: relative;
  font-size: inherit;
  letter-spacing: -1px;
  line-height: 52px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}

.path-palette {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 25px 0 20px;
}

.property-picker-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 22px; /* Adjust this value as needed for spacing */
  animation: scroll 30s linear infinite;
  white-space: nowrap;
  overflow: hidden; /* Hide the overflow to ensure items scroll in from the edge */
}

.property-picker,
.property-picker1,
.property-picker2,
.property-picker3,
.property-picker4 {
  height: 160px;
  width: 160px;
  position: relative;
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    rgba(28, 25, 78, 0.1),
    rgba(46, 83, 138, 0.1)
  );
  border: 1px solid #272a44;
  box-sizing: border-box;
  overflow: hidden;
}

.logo-icon, .logo-icon1,  .logo-icon2{
  width: 60%; /* Make the image take the full width of its container */
  height: 60%; /* Make the image take the full height of its container */
  object-fit: contain; /* Scale the image to maintain aspect ratio while fitting within the element's content box */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-1012-icon, .image-1012-icon1 {
  width: 80%; /* Make the image take the full width of its container */
  height: 80%; /* Make the image take the full height of its container */
  object-fit: contain; /* Scale the image to maintain aspect ratio while fitting within the element's content box */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes scroll {
  from { 
    transform: translateX(0%); 
  }
  to { 
    transform: translateX(-50%); /* Moves content left to half its total width */
  }
}
.bubble-bank,
.shape-sorter {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.shape-sorter {
  width: 100%; /* Ensure this container fills its parent for proper alignment */
  flex-direction: column;
  justify-content: flex-start;
  gap: 60px;
}

.bubble-bank {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px 46px 22px;
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: center;
  font-size: 48px;
  color: #fff;
  font-family: "TT Firs Neue";
  overflow: hidden; /* Important for the scrolling effect */
}

@media screen and (max-width: 1125px) {
  .shape-sorter {
    gap: 30px;
  }
}

@media screen and (max-width: 800px) {
  .our-partners {
    font-size: 38px;
    line-height: 42px;
  }
}

@media screen and (max-width: 450px) {
  .our-partners {
    font-size: 29px;
    line-height: 31px;
  }
}
